# Python related
.venv/
__pycache__/
.env

# Test files
*.raw
*.mem
*.eo1

# Output related
*.csv
*_report/

# Web related
node_modules/
coverage/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
