.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  color: white;
  background-color: #457d58;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbot-icon img {
  width: 50%;
  height: 50%;
}

/* Chat */
.chatbot-popup {
  position: fixed;
  bottom: 6rem;
  right: 1.25rem;
  width: 20rem;
  min-height: 30rem;
  border: 4px solid #457d58;
  background-color: rgb(247, 249, 252);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.chatbot-popup::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.chat-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #457d58;
  color: white;
  height: 3rem; /* Ensure the height is defined */
}

.chat-header {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10rem;
  font-size: large;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.input-container {
  width: 18.25rem;
  padding: 4px;
  margin: 0 10px 10px 10px;
  background: white;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 16px rgba(148, 156, 169, 0.15);
  position: fixed;
  bottom: 6.5rem;
}

.input-container textarea {
  flex-grow: 1;
  border: none;
  padding: 0 4px 0 8px;
  background: white;
  border-radius: 20px;
  font-family: "Mulish", sans-serif;
  overflow-y: hidden; /* Hide vertical scrollbar */
  resize: none; /* Prevent manual resizing */
  line-height: 20px; /* Set line height in pixels */
  font-size: 14px;
}

.input-container textarea:focus {
  outline: none;
}

.input-container .icon-div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.icon-div img {
  width: 32px;
  height: 32px;
  opacity: 0.75;
  margin: 2px;
  border-radius: 50%;
}

.icon-div img:hover {
  opacity: 1;
}

.icon-div img:active {
  transform: scale(0.9);
}

.message {
  margin: 4px 0;
  padding: 8px 16px;
  border: #f8f8ff 1px solid;
  border-radius: 16px;
  background: white;
  overflow-wrap: break-word;
  width: fit-content;
}

.message-user {
  font-size: 12px;
  align-self: flex-end;
  max-width: 70%;
  background: #457d58;
  color: white;
}
