.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f9fc;
  padding: 20px;
  max-width: 2000px;
}

.content-container {
  transition: opacity 0.4s ease-out;
  opacity: 1;
}

.content-container.fade-out {
  opacity: 0;
  pointer-events: none;
}

.next-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: opacity 0.4s ease-in;
  opacity: 0;
}

.next-content.fade-in {
  opacity: 1;
}

.next-content-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.next-content-button:hover {
  background-color: #0056b3;
}

.drive-container {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 32rem;
  padding: 1.5rem;
  border: 2px #d1d5db;
  transition: border-color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 40px;
}

.drive-label {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  text-align: left;
}

.detect-drive-button {
  padding: 8px 16px;
  background-color: #457d58;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  align-self: center;
}

.detect-drive-button:hover {
  background-color: #519b69;
}

.drive-list {
  margin-top: 20px;
}

.drive-list h3 {
  margin-bottom: 10px;
}

.drive-list ul {
  list-style-type: none;
  padding: 0;
}

.drive-list li {
  padding: 5px 0;
}

.upload-box {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 32rem;
  border: 2px dashed #d1d5db;
  transition: border-color 0.3s ease;
  margin-bottom: 40px;
}

.upload-box.dragging {
  border-color: #519b69;
}

.header {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.hidden {
  display: none;
}

.upload-area {
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
}

.upload-icon {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  color: #519b69;
}

.upload-text {
  color: #333;
  font-size: 16px;
}

.choose-file {
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

.file-info {
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 5px;
  width: 90%;
}

.file-info:last-child {
  border-bottom: none;
}

.file-details {
  display: flex;
  color: #6b7280;
  margin-bottom: 0.5rem;
  align-items: center;
  padding-left: 15px;
  justify-content: space-between;
}

.file-desc {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.file-icon {
  margin-right: 12px;
  width: 2rem;
  height: 2rem;
}

.file-name {
  margin-left: 10px;
  margin-right: 25px;
  font-weight: 500;
  font-size: 18px;
  color: #333;
  align-content: flex-start;
  overflow-wrap: anywhere;
}

.file-metadata-table {
  width: 100%;
  border-collapse: collapse;
}

.file-metadata-table td {
  padding: 2px 25px;
  vertical-align: top;
  width: 50%;
}

.metadata-label {
  text-align: left;
  font-weight: bold;
  padding-right: 20px;
}

.metadata-value {
  text-align: left;
  overflow-wrap: anywhere;
}

.file-size {
  font-size: 0.875rem;
  color: #6b7280;
}

.file-cancel {
  cursor: pointer;
  color: red;
  font-size: 1.25rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.cancel-button,
.submit-button {
  flex: 1;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-button {
  background-color: #f0eded;
  color: #333;
}

.cancel-button:hover {
  background-color: #c5c9c7;
}

.submit-button {
  background-color: #457d58;
  color: #fff;
}

.submit-button:hover {
  background-color: #519b69;
}

.submit-button:disabled {
  background-color: #e5e7eb;
  cursor: not-allowed;
  color: #9c9a9a;
}

.options-container {
  background-color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 28rem;
  margin-top: 20px;
  align-items: start;
}

.options-container h3 {
  margin-bottom: 15px;
  font-size: 1.25rem;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.option-button {
  padding: 10px 20px;
  background-color: #457d58;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.option-button:hover {
  background-color: #519b69;
}

.metadata-container {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 32rem;
  border: 2px #d1d5db;
  transition: border-color 0.3s ease;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  margin-bottom: 20px;
  padding-left: 50px;
}

.metadata-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

.file-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.file-metadata {
  display: flex;
  flex-direction: column;
}

.file-size,
.file-type,
.file-last-modified,
.file-extension {
  margin-bottom: 5px;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 22px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-bar-inner {
  height: 100%;
  background-color: #457d58;
  border-radius: 8px;
  transition: width 0.3s ease;
  padding: 12px;
}

.upload-percentage {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: bold;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  height: 24px;
}
