.navbar {
  position: sticky;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid rgba(64, 64, 64, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  animation: fadein-opacity 0.5s ease-in-out;
}

.navbar .navbar-container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  margin-top: -0.5rem;
}

.logo {
  height: 4.1rem;
  width: auto;
}

.navbar-link {
  margin-left: 2rem;
  color: #333;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.25rem;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #457d58;
}

.social-link {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #457d58;
}

.yt-icon {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.yt-icon:hover {
  color: #457d58;
}

.download-link {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.25rem;
  transition: color 0.3s ease;
}

.download-link:hover {
  color: #457d58;
}

#button__divider {
  height: 1.5rem;
  width: 1px;
  background-color: rgba(64, 64, 64, 0.5);
}

@keyframes fadein-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-content {
  margin-top: 4rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.download-link {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
